sudo: required
dist: trusty
language: node_JS
node_js:
  - "8.4"
python:
  - "3.5"
before_install:
  - sudo apt-get -y install python3-pip python-dev
  - python3 -V
  - pip3 -V
install:
  - sudo pip3 install cookiecutter
  - cookiecutter --no-input ./
  - cd react-redux-starter
  - npm i
script:
  - npm run lint:css
  - npm run lint:js
  - npm run flow
  - npm run test
env:
  global:
    - IS_DEVELOPMENT=true
